/* @media only screen and (max-width: 900px) {
    body .skills-wrapper {
        flex-wrap: wrap;
    }
} */

.mobile_menu_icon {
    display: none;
}

.mobile_menu_close_icon {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .page-link {
        width: 41%;
        height: fit-content;
        background-color: #0f6379 !important;
        font-size: 44px;
    }

    /* .notloading div {
        display: block;
    } */

    .mobile_menu_icon {
        display: block;
        color: white;
        position: fixed;
        top: 10px;
        left: 10px;
        cursor: pointer;
        font-size: 50px !important;
    }

    .mobile_menu_icon:hover {
        font-size: 54px !important;
    }

    .details_section .mobile_menu_icon {
        left: 10px;
        color: black;
    }

    .fixed_mobile_menu {
        display: none;
        -webkit-animation: expand_width 1s;
        top: 0;
        position: fixed;
        height: 100%;
        width: 467px;
    }

    nav .link-wrap {
        flex-direction: column;
        margin-top: 45px;
    }

    nav .link-wrap div {
        padding: 50px 20px;
        font-size: 45pt;
    }


    .mobile_menu_close_icon {
        display: block;
        top: 8px;
        position: absolute;
        right: 10px;
        font-size: 75px !important;
    }

    .mobile_menu_close_icon:hover {
        font-size: 78px !important;
    }

    .skills-wrapper {
        flex-direction: column;
    }

    .header {
        font-size: 60pt;
    }

    .label {
        font-size: 40pt;
    }

    .about_me {
        font-size: 41px;
    }

    .filter {
        font-size: 47px !important;
    }

    .contact-link {
        font-size: 57px;
    }

    /* disbale scrollin */
    html,
    body {
        overflow: hidden;
    }

    body {
        position: relative;
    }

    section:nth-of-type(1),
    section:nth-of-type(2),
    section:nth-of-type(3),
    section:nth-of-type(4) {
        height: 100vh;
        overflow: auto;
    }

 
}